# OpenAPI 3.1 specification for the AtlaSent authorization API (v1).
#
# Status: **draft, derived from the existing JSON Schemas in
# `contract/schemas/`**. Everything here MUST stay in sync with those
# schemas — the drift detector and vector validator in
# `contract/tools/` keep the SDKs honest against the schemas; this file
# lifts those same schemas into a full OpenAPI document so downstream
# consumers (pydantic codegen, `@atlasent/types`, Postman / Insomnia /
# Redoc / Stoplight collections, non-SDK adopters) can consume a single
# canonical artifact.
#
# If this file and `schemas/*.json` ever disagree, **the JSON Schemas
# win**. The SDK drift detector introspects from the schemas, not from
# this OpenAPI document.
#
# Scope (v1.0):
# - POST /v1-evaluate
# - POST /v1-verify-permit
#
# Out of scope in v1 (tracked in docs/V1_PLAN.md, require separate
# server-side specs before they can be added here):
# - Streaming evaluate
# - session, audit/events, audit/exports, audit/verify, approvals,
#   overrides, permits/consume, permits/revoke
# - Offline audit-bundle format

openapi: 3.1.0

info:
  title: AtlaSent Authorization API
  version: "1.0.0"
  summary: Execution-time authorization for AI agents.
  description: |
    Every call goes through two endpoints:

    - `POST /v1-evaluate` — policy decision. A clean DENY is HTTP 200
      with `permitted: false`, **not** a 4xx.
    - `POST /v1-verify-permit` — confirm a previously-issued permit
      end-to-end. `verified: false` is similarly an HTTP 200.

    SDKs are **fail-closed**: any failure to *confirm* authorization
    (network, server error, malformed body, rate limit, invalid key)
    throws / raises; a clean policy DENY is returned as data.

    See `contract/README.md` for the five invariants every SDK must
    honour, and `contract/adopt/EXPECTED_ENVELOPES.md` for a
    plain-English reference.
  contact:
    name: AtlaSent Systems Inc.
    url: https://atlasent.io
    email: sdk@atlasent.io
  license:
    name: MIT (Python SDK) / Apache-2.0 (TypeScript SDK)
    url: https://github.com/AtlaSent-Systems-Inc/atlasent-sdk

servers:
  - url: https://api.atlasent.io
    description: Production.

tags:
  - name: authorization
    description: Policy evaluation and permit verification.

security:
  - bearerAuth: []

paths:
  /v1-evaluate:
    post:
      tags: [authorization]
      operationId: evaluate
      summary: Evaluate whether an action is authorized.
      description: |
        A clean DENY is **not** an HTTP error — it is an HTTP 200
        response with `decision: 'deny'`. Fail-closed semantics in
        SDKs apply only to failures to *confirm* authorization
        (network, timeout, malformed body, 4xx, 5xx).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EvaluateRequest"
            examples:
              clinical_modify_allow:
                summary: "Clinical-data agent modifying a record under GxP"
                value:
                  action_type: "modify_patient_record"
                  actor_id: "clinical-data-agent"
                  context:
                    user: "dr_smith"
                    environment: "production"
                    patient_id: "PT-2024-001"
              minimal:
                summary: "Minimal valid request"
                value:
                  action_type: "read_data"
                  actor_id: "agent-1"
      responses:
        "200":
          description: |
            Policy decision. Branch on `decision` ('allow' | 'deny' | 'hold' | 'escalate').
            This is the only successful status; all non-2xx responses
            are error conditions.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvaluateResponse"
              examples:
                allow:
                  summary: "ALLOW"
                  value:
                    decision: "allow"
                    permit_token: "pt_01J8XKQ2"
                    request_id: "req_01J8XKQ2"
                    expires_at: "2026-04-17T11:00:00Z"
                deny:
                  summary: "DENY (HTTP 200, decision='deny')"
                  value:
                    decision: "deny"
                    request_id: "req_01J8XKQ3"
                    denial:
                      reason: "Missing change_reason for critical field"
                      code: "POLICY_DENY"
        "401":
          $ref: "#/components/responses/InvalidApiKey"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/BadRequest"
        "429":
          $ref: "#/components/responses/RateLimited"
        "5XX":
          $ref: "#/components/responses/ServerError"

  /v1-verify-permit:
    post:
      tags: [authorization]
      operationId: verifyPermit
      summary: Verify a previously-issued permit end-to-end.
      description: |
        Used as a second-factor gate (e.g. in a CI deploy pipeline
        just before side-effects run). `valid: false` is NOT an
        HTTP error — it is an HTTP 200 with `valid: false, outcome: 'deny'`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerifyPermitRequest"
            examples:
              minimal:
                summary: "Verify by permit_token alone"
                value:
                  permit_token: "pt_01J8XKQ2"
              cross_checked:
                summary: "Verify with action_type / actor_id re-stated for cross-check"
                value:
                  permit_token: "pt_01J8XKQ2"
                  action_type: "modify_patient_record"
                  actor_id: "clinical-data-agent"
      responses:
        "200":
          description: |
            Verification outcome. `valid` and `outcome` are required.
            `verify_error_code` is populated when `outcome='deny'`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerifyPermitResponse"
              examples:
                valid:
                  value:
                    valid: true
                    outcome: "allow"
                revoked:
                  summary: "HTTP 200 even though the permit is no longer valid"
                  value:
                    valid: false
                    outcome: "deny"
                    verify_error_code: "PERMIT_REVOKED"
                    reason: "Permit was explicitly revoked"
        "401":
          $ref: "#/components/responses/InvalidApiKey"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/BadRequest"
        "429":
          $ref: "#/components/responses/RateLimited"
        "5XX":
          $ref: "#/components/responses/ServerError"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: |
        `Authorization: Bearer <api_key>`. The key is sent as a header only;
        it is no longer echoed in the request body.

  # Schemas are mirrored from contract/schemas/*.json. Keep in sync —
  # the JSON Schemas are the source of truth for the SDK drift detector.
  schemas:
    EvaluateRequest:
      title: EvaluateRequest
      description: "Wire payload sent to POST /v1-evaluate. The legacy {action, agent, api_key} shape is no longer canonical — SDKs may accept it with a deprecation warning but MUST always serialize to this canonical shape."
      type: object
      additionalProperties: true
      required: [action_type, actor_id]
      properties:
        action_type:
          type: string
          minLength: 1
          maxLength: 256
          description: "Action being authorized (e.g. 'modify_patient_record'). Stable identifier."
        actor_id:
          type: string
          minLength: 1
          maxLength: 256
          description: "Identifier of the calling actor / agent (e.g. 'clinical-data-agent')."
        context:
          type: object
          description: "Arbitrary policy context (environment, approvals, change_window, resource IDs). Values MUST be JSON-serializable. Defaults to {} if omitted."
          additionalProperties: true
        request_id:
          type: string
          description: "Idempotency key. Repeat calls with the same request_id replay the original decision."
        shadow:
          type: boolean
          description: "When true, evaluation runs but no permit is issued (mode='shadow'). Used for policy testing."
        explain:
          type: boolean
          description: "When true, the response includes the rule-engine trace under `decisionObject.explanation`."
        traceparent:
          type: string
          description: "W3C Trace Context fallback when the SDK can't add the header through a signing layer."
        resource_id:
          type: string
          maxLength: 512
          description: "Resource the action targets (e.g. 'release:abc123'). Bound into the canonical action hash that approval artifacts cover, so an approval issued for one resource cannot authorize another."
        amount:
          type: number
          description: "Optional monetary or quantity bound. Bound into the canonical action hash."
        approval:
          type: object
          additionalProperties: false
          description: "Optional signed approval. When the action requires human approval (rule-driven OR action-type prefix per requiresHumanApproval), /v1-evaluate verifies this artifact before issuing a permit; failure denies. Schema for the artifact lives in approval-artifact.schema.json."
          properties:
            approval_id:
              type: string
              description: "Reference to an artifact stored server-side. Either this or `artifact` must be present."
            artifact:
              description: "Inline approval artifact body. Mirrors approval-artifact.schema.json."
              type: object
              additionalProperties: true
        require_approval:
          type: boolean
          description: "Caller assertion that this action requires verified human approval, even when the action_type heuristic does not match. Echoed onto /v1-verify-permit so the consumer can hard-deny when the permit's persisted `approval` block is missing."

    EvaluateResponse:
      title: EvaluateResponse
      description: "Wire response returned by POST /v1-evaluate. A non-allow decision is NOT an HTTP error; it is a 200 response with decision != 'allow'."
      type: object
      additionalProperties: true
      required: [decision]
      properties:
        decision:
          type: string
          enum: [allow, deny, hold, escalate]
          description: "Canonical four-value decision. SDKs MUST handle all four."
        permit_token:
          type: string
          minLength: 1
          description: "Opaque permit identifier. Present iff decision == 'allow'. Passed back to POST /v1-verify-permit as `permit_token`."
        request_id:
          type: string
          description: "Server-side request identifier. Used as audit deep-link and idempotency key for replays."
        expires_at:
          type: string
          description: "ISO 8601 timestamp at which the permit expires. Default TTL: 1 hour."
        denial:
          type: object
          description: "Populated on non-allow decisions. Contains the policy-engine reason and a stable code."
          properties:
            reason:
              type: string
            code:
              type: string
          additionalProperties: true
        mode:
          type: string
          enum: [live, shadow]
          description: "Evaluation mode. 'shadow' indicates no permit was minted."
        cache_hit:
          type: boolean
        evaluation_ms:
          type: number
        decisionObject:
          type: object
          description: "Canonical Decision Object (CDO) — full structured decision record. Optional."
          additionalProperties: true
        outcome_kind:
          type: string
          enum: [final, requires_confirmation, requires_override]
        intent_match:
          type: string
          enum: [match, mismatch, unknown]
        audit_entry_hash:
          type: string
        fingerprint:
          type: string
        risk_score:
          type: number
        permit:
          type: object
          additionalProperties: true
          description: "Wire-format PermitV2 body. Returned alongside `permit_token` when the legacy v1 surface is upgraded to V2. The `approval` sub-block is the cryptographic linkage to the approval artifact verified at evaluate time."
          properties:
            approval:
              type: object
              additionalProperties: false
              required: [approval_id, artifact_hash, reviewer_id, issuer_id, kid]
              description: "Permit ↔ approval-artifact binding. Present iff /v1-evaluate verified an approval_artifact.v1 for this issuance. /v1-verify-permit re-surfaces this on consume so executors can prove which signed approval authorized the action."
              properties:
                approval_id:
                  type: string
                  description: "approval_artifact.approval_id from the verified artifact."
                artifact_hash:
                  type: string
                  pattern: "^[0-9a-f]{64}$"
                  description: "SHA-256 over the artifact's canonical signing payload (i.e. the artifact with the `signature` field stripped). Lets a stored permit row prove which artifact authorized it without retaining the full artifact body."
                reviewer_id:
                  type: string
                  description: "reviewer.principal_id from the verified artifact."
                issuer_id:
                  type: string
                  description: "issuer.issuer_id from the verified artifact."
                kid:
                  type: string
                  description: "issuer.kid used to verify the signature (key id, for rotation)."

    VerifyPermitRequest:
      title: VerifyPermitRequest
      description: "Wire payload sent to POST /v1-verify-permit. The legacy {decision_id, action, agent, api_key} shape is no longer canonical — SDKs may accept it with a deprecation warning but MUST always serialize to this canonical shape."
      type: object
      additionalProperties: true
      required: [permit_token]
      properties:
        permit_token:
          type: string
          minLength: 1
          description: "The permit_token returned by a prior /v1-evaluate call."
        action_type:
          type: string
          description: "Optional cross-check — re-state the action_type. ACTION_TYPE_MISMATCH if it disagrees."
        actor_id:
          type: string
          description: "Optional cross-check — re-state the actor_id. ACTOR_MISMATCH if it disagrees."
        require_approval:
          type: boolean
          description: "Caller assertion that this consume must produce a permit row with a populated approval binding. When true and the row carries no binding, the verifier returns APPROVAL_LINKAGE_MISSING (valid=false, consumed=true). Use this when calling on behalf of an action whose human-approval requirement isn't covered by the action_type-prefix heuristic on the server."

    VerifyPermitResponse:
      title: VerifyPermitResponse
      description: "Wire response returned by POST /v1-verify-permit. valid=false is NOT an HTTP error."
      type: object
      additionalProperties: true
      required: [valid, outcome]
      properties:
        valid:
          type: boolean
          description: "true iff the permit is still valid, un-expired, un-revoked, and un-consumed."
        outcome:
          type: string
          enum: [allow, deny]
          description: "Server-side verification outcome. 'allow' iff valid=true."
        verify_error_code:
          type: string
          enum:
            - PERMIT_EXPIRED
            - PERMIT_NOT_FOUND
            - PERMIT_NOT_ALLOWED
            - PERMIT_REVOKED
            - PERMIT_ALREADY_USED
            - ACTOR_MISMATCH
            - ACTION_TYPE_MISMATCH
            - MISSING_PERMIT
            - UNAUTHORIZED
            - INVALID_API_KEY
            - INSUFFICIENT_SCOPE
            - RATE_LIMITED
            - INTERNAL_ERROR
          description: "Stable code populated when outcome='deny'. SDKs map these onto a higher-level envelope; unknown codes MUST fail-closed."
        reason:
          type: string
          description: "Human-readable explanation. Safe to surface to operators; not a stable identifier."
        decision:
          type: string
          description: "Echo of the decision the permit's evaluation produced. Always 'allow' on outcome='allow'."
        consumed:
          type: boolean
          description: "True iff the atomic verify-and-consume burned the permit row. APPROVAL_LINKAGE_MISSING returns valid=false BUT consumed=true — the permit cannot be reused; do not retry."
        approval:
          oneOf:
            - type: "null"
            - type: object
              additionalProperties: false
              required: [approval_id, artifact_hash, reviewer_id, issuer_id, kid]
              properties:
                approval_id:
                  type: string
                artifact_hash:
                  type: string
                  pattern: "^[0-9a-f]{64}$"
                reviewer_id:
                  type: string
                issuer_id:
                  type: string
                kid:
                  type: string
          description: "Permit ↔ approval-artifact binding persisted at issuance. NULL when the permit was minted without an approval requirement. Mirrors PermitV2.approval; surfaced here so executors can prove which signed approval authorized this consume."

    ErrorResponse:
      title: ErrorResponse
      description: "Shape of the body returned on non-2xx HTTP responses. SDKs surface `message` (preferred) or `reason` to callers."
      type: object
      additionalProperties: true
      properties:
        message:
          type: string
          description: "Preferred human-readable error string."
        reason:
          type: string
          description: "Fallback human-readable error string when message is not present."
        code:
          type: string
          description: "Optional machine-readable code (e.g. 'invalid_api_key', 'rate_limited')."
        request_id:
          type: string
          description: "Optional echo of the X-Request-ID header."

  headers:
    # Servers SHOULD echo the caller's X-Request-ID on every response
    # for log correlation; SDKs don't rely on it but humans reading
    # logs do.
    X-Request-ID:
      description: "Echo of the client-supplied correlation id."
      schema:
        type: string
    Retry-After:
      description: |
        Present on 429 responses. SDKs parse both numeric delta-seconds
        AND HTTP-date form (RFC 9110 §10.2.3).
      schema:
        type: string

  responses:
    InvalidApiKey:
      description: "HTTP 401 — SDKs surface as `code: invalid_api_key`."
      headers:
        X-Request-ID:
          $ref: "#/components/headers/X-Request-ID"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            message: "Invalid API key"
    Forbidden:
      description: "HTTP 403 — SDKs surface as `code: forbidden`."
      headers:
        X-Request-ID:
          $ref: "#/components/headers/X-Request-ID"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            message: "scope mismatch"
    BadRequest:
      description: |
        HTTP 4xx other than 401 / 403 / 429 (typically 422 for schema
        violations). SDKs surface as `code: bad_request`, passing the
        server's `message` or `reason` through.
      headers:
        X-Request-ID:
          $ref: "#/components/headers/X-Request-ID"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            message: "bad field: agent"
    RateLimited:
      description: |
        HTTP 429 — SDKs surface as `code: rate_limited` and parse
        `Retry-After` into `retryAfterMs` (TS) / `retry_after`
        (Python). Both delta-seconds (`"30"`) and HTTP-date forms
        (`"Wed, 21 Oct 2026 07:28:00 GMT"`) are accepted.
      headers:
        Retry-After:
          $ref: "#/components/headers/Retry-After"
        X-Request-ID:
          $ref: "#/components/headers/X-Request-ID"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            message: "slow down"
    ServerError:
      description: "HTTP 5xx — SDKs surface as `code: server_error`. Retried with exponential backoff up to `max_retries` times."
      headers:
        X-Request-ID:
          $ref: "#/components/headers/X-Request-ID"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            message: "internal server error"
